swagger: '2.0'
info:
  version: '1.0'
  title: Orthanc
  contact: {}
host: apidev2.eosfrontier.space
basePath: /orthanc/v2
securityDefinitions:
  token:
    type: apiKey
    description: ''
    name: token
    in: header
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /character:
    get:
      summary: character
      tags:
      - Misc
      operationId: character
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    post:
      summary: character
      tags:
      - Misc
      operationId: Postcharacter
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: character
        in: header
        required: true
        type: string
        description: ''
      - name: accountID
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    patch:
      summary: character
      tags:
      - Misc
      operationId: Patchcharacter
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: character
        in: header
        required: true
        type: string
        description: ''
      - name: accountID
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    put:
      summary: character1
      tags:
      - Misc
      operationId: character1
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: character
        in: header
        required: true
        type: string
        description: ''
      - name: accountID
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    delete:
      summary: character1
      tags:
      - Misc
      operationId: Deletecharacter1
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /joomla:
    get:
      summary: joomla
      tags:
      - Misc
      operationId: joomla
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /character/meta:
    patch:
      summary: character/meta
      tags:
      - Misc
      operationId: character/meta
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta
        in: header
        required: true
        type: array
        items:
          type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    get:
      summary: character/meta
      tags:
      - Misc
      operationId: Getcharacter/meta
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta_name
        in: header
        required: true
        type: string
        description: ''
      - name: wildcard
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    delete:
      summary: character/meta1
      tags:
      - Misc
      operationId: character/meta1
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta
        in: header
        required: true
        type: array
        items:
          type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /character/skills:
    get:
      summary: character/skills
      tags:
      - Misc
      operationId: character/skills
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /character/skills_v2:
    get:
      summary: character/skills_v2
      tags:
      - Misc
      operationId: character/skills_v2
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    delete:
      summary: character/skills
      tags:
      - Misc
      operationId: Deletecharacter/skills
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: skill_id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /figurant/:
    post:
      summary: figurant
      tags:
      - Misc
      operationId: figurant
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: figurant
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    put:
      summary: figurant
      tags:
      - Misc
      operationId: Putfigurant
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: figurant
        in: header
        required: true
        type: string
        description: ''
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    delete:
      summary: figurant1
      tags:
      - Misc
      operationId: figurant1
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /figurant:
    get:
      summary: figurant
      tags:
      - Misc
      operationId: Getfigurant
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /figurant/meta:
    get:
      summary: figurant/meta
      tags:
      - Misc
      operationId: figurant/meta
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta_name
        in: header
        required: true
        type: string
        description: ''
      - name: wildcard
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    post:
      summary: figurant/meta
      tags:
      - Misc
      operationId: Postfigurant/meta
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta
        in: header
        required: true
        type: array
        items:
          type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    put:
      summary: figurant/meta1
      tags:
      - Misc
      operationId: figurant/meta1
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta
        in: header
        required: true
        type: array
        items:
          type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
    patch:
      summary: figurant/meta2
      tags:
      - Misc
      operationId: figurant/meta2
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      - name: meta
        in: header
        required: true
        type: array
        items:
          type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /figurant/skills:
    get:
      summary: figurant/skills
      tags:
      - Misc
      operationId: figurant/skills
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: header
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /figurant/namelists:
    get:
      summary: figurant/namelist
      tags:
      - Misc
      operationId: figurant/namelist
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: faction
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
definitions:
  character:
    title: character
    example:
      card_id: '{{$timestamp}}'
      character_name: '{{$randomFullName}}'
      faction: faction
      rank: rank
      threat_assessment: 0
      douane_disposition: ICC VETTED
      douane_notes: notes
      bastion_clearance: 0
      icc_number: '{{$timestamp}}'
      bloodtype: A
      ic_birthday: 24 oct 231
      homeplanet: Dzar
    type: object
    properties:
      card_id:
        type: string
      character_name:
        type: string
      faction:
        type: string
      rank:
        type: string
      threat_assessment:
        type: string
      douane_disposition:
        type: string
      douane_notes:
        type: string
      bastion_clearance:
        type: string
      icc_number:
        type: string
      bloodtype:
        type: string
      ic_birthday:
        type: string
      homeplanet:
        type: string
    required:
    - card_id
    - character_name
    - faction
    - rank
    - threat_assessment
    - douane_disposition
    - douane_notes
    - bastion_clearance
    - icc_number
    - bloodtype
    - ic_birthday
    - homeplanet
  character1:
    title: character1
    example:
      faction: Aquila
      rank: Tatlor
    type: object
    properties:
      faction:
        type: string
      rank:
        type: string
    required:
    - faction
    - rank
  metum:
    title: metum
    example:
      name: testdoIneedpost
      value: fourth test123456
    type: object
    properties:
      name:
        type: string
      value:
        type: string
    required:
    - name
    - value
  metum1:
    title: metum1
    example:
      name: testdoIneedpost
    type: object
    properties:
      name:
        type: string
    required:
    - name
  figurant:
    title: figurant
    example:
      card_id: '{{$timestamp}}'
      character_name: '{{$randomFullName}}'
      faction: faction
      rank: rank
      threat_assessment: 0
      douane_disposition: ICC VETTED
      douane_notes: notes
      bastion_clearance: 0
      icc_number: '{{$timestamp}}'
      bloodtype: A
      ic_birthday: 24 oct 231
      homeplanet: Dzar
      recurring: 1
    type: object
    properties:
      card_id:
        type: string
      character_name:
        type: string
      faction:
        type: string
      rank:
        type: string
      threat_assessment:
        type: string
      douane_disposition:
        type: string
      douane_notes:
        type: string
      bastion_clearance:
        type: string
      icc_number:
        type: string
      bloodtype:
        type: string
      ic_birthday:
        type: string
      homeplanet:
        type: string
      recurring:
        type: string
    required:
    - card_id
    - character_name
    - faction
    - rank
    - threat_assessment
    - douane_disposition
    - douane_notes
    - bastion_clearance
    - icc_number
    - bloodtype
    - ic_birthday
    - homeplanet
    - recurring
  figurant1:
    title: figurant1
    example:
      faction: Aquila
      rank: Tatlor
    type: object
    properties:
      faction:
        type: string
      rank:
        type: string
    required:
    - faction
    - rank
  metum4:
    title: metum4
    example:
      name: test90212
      old_value: eerste test josh
      value: tweede test josh
    type: object
    properties:
      name:
        type: string
      old_value:
        type: string
      value:
        type: string
    required:
    - name
    - old_value
    - value
security:
- token: []
tags:
- name: Misc
  description: ''
